<% include ../partials/header%>


        <header class = "jumbotron">
            <div class = "container text-center">
                <h1>Welcome to YelpCamp</h1>
                <p>View our hand-picked campgrounds from all over.</p>
                <p>
                    <a class = "btn btn-primary btn-md" href ="/campgrounds/new">Add new campground</a>
                </p>
            </div>
        </header>

        <div class = "row text-center">
            <% campgrounds.forEach(function(camp){ %>
                <div class = "col-md-4 col-sm-6">
                    <div class = "img-thumbnail">
                        <img class ="img-fluid" src="<%= camp.image %>">
                        <div class = "caption">
                            <h5><%= camp.name %></h5>
                        </div>
                        <p>
                            <a href = "/campgrounds/<%= camp._id%>" class = "btn btn-sm btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i> More Info</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>



<% include ../partials/footer%>
