body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
}
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 30vh;
}
#landing-header h1 {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  font-size: 3.5rem;
}
#landing-header h3 {
  color: #fff;
  font-weight: 300;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.75);
  margin-top: 22px;
  margin-bottom: 32.5px;
}
#landing-header h6 {
  color: #fff;
  font-weight: 300;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.75);
  font-size: .8rem;
}
#landing-header hr {
  border-color: #fff;
  width: 35%;
  margin-top: .5rem;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.75);
}
#landing-header div h6 a {
  color: #fff;
  text-decoration: underline;
}
#landing-header div h6 a:hover {
  color: #d32323;
}
p.text-center{
  z-index: 1;
  color: white;
  position: relative;
  bottom: 0;
}
p.text-center a {
  color: white;
}
.btn-primary {
  cursor: pointer;
  background-color: #d32323;
  border-color: #8d0005;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
  margin-bottom: 9px;
  width: 35%;
  transition: none;
}
.btn-primary:hover {
  background-color: #ed0008;
  border-color: #8d0005;
  transition: ease-in-out, .1s;
}
.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}
.slideshow li:nth-child(1) {
  /* background: -webkit-linear-gradient(to right, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .6) 50%, rgba(255, 255, 255, .1) 100%);
  background: -moz-linear-gradient(to right, #f9f9f9 0%, #eceeef 50%, #f9f9f9 100%);
  background: -o-linear-gradient(to right, #f9f9f9 0%, #eceeef 50%, #f9f9f9 100%);
  background: linear-gradient(to right, #f9f9f9 0%, #eceeef 50%, #f9f9f9 100%); */
  background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .1) 100%), url(http://i.imgur.com/K3mPv14.jpg);
}
.slideshow li:nth-child(2) {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .1) 100%), url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .1) 100%), url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .1) 100%), url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .1) 100%), url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
@media screen and (max-width: 575px){
  #landing-header {
    padding-top: 35vh;
  }
  #landing-header h1 {
    font-size: 2.25rem;
  }
  #landing-header h3 {
    font-size: 1.1rem;
  }
  #landing-header h6 {
    font-size: .8rem;
  }
  #landing-header .btn-primary {
    font-size: .85rem;
  }
}
