body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}
header.jumbotron {
  background: -webkit-linear-gradient(to right, #f9f9f9 0%, #eceeef 50%, #f9f9f9 100%);
  background: -moz-linear-gradient(to right, #f9f9f9 0%, #eceeef 50%, #f9f9f9 100%);
  background: -o-linear-gradient(to right, #f9f9f9 0%, #eceeef 50%, #f9f9f9 100%);
  background: linear-gradient(to right, #f9f9f9 0%, #eceeef 50%, #f9f9f9 100%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
header.jumbotron .container h1 {
  font-size: 3.5rem;
}
.container .alert {
  text-align: center;
  font-size: .9rem;
}
.nav-link.active {
  border-radius: 5px;
}
.active {
  background-color: rgba(51,51,51,.3);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
  color: white;
}
.container {
  margin-top: 15px;
}
.col-md-4.col-sm-6 .img-thumbnail {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
  border: none;
  border-bottom: 1px solid #ddd;
  transition: all .195s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.col-md-4.col-sm-6 .img-thumbnail:hover {
  transform: translate(0, -5px);
  z-index: 100;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.3);
}
.img-thumbnail .caption h5 {
  margin: 12.5px auto;
  padding: 5px;
}
.img-thumbnail img {
  width: 100%;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.img-thumbnail {
  padding: 0;
  margin-bottom: 12px;
}
header.jumbotron .container form {
  margin-top: -2px;
}
header.jumbotron .container hr {
  margin-top: -2px;
  max-width: 250px;
}
.form-inline .form-group {
  margin: 0 auto;
  max-width: 192px;
}
.form-inline .form-group .form-control {
  width: 152px;
  margin: 0 auto;
  font-size: .8rem;
}
#search-message {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 10px;
}
.caption-full {
  padding: 9px;
}
.card {
  overflow: hidden;
  margin-bottom: 20px;
}
.delete-form {
  display: inline;
}
.delete-form button {
  cursor: pointer;
}
.btn-primary {
  cursor: pointer;
  background-color: #d32323;
  border-color: #8d0005;
}
.btn-primary:hover {
  background-color: #ed0008;
  border-color: #8d0005;
  transition: ease-in-out, .1s;
}
.btn-success {
  background: #3cb52e;
  border-color: #28781e;
}
.btn-success:hover {
  background: #41c532;
}
.back {
 font-size: 11.5px;
}
.navbar.navbar-expand-md.navbar-light.bg-faded .container {
  margin-top: 0;
}
.navbar-collapse .nav.navbar-nav {
  text-align: center;
}
#map {
    height: 400px;
    width: 100%;
}
.navbar {
  border-bottom: 1px solid #e7e7e7;
  background: #d32323;
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-toggler {
  border: none;
  cursor: pointer;
  padding: 0;
  padding: .1rem;
}
.navbar {
  font-size: .9rem;
}
.navbar-brand {
  font-size: 1rem;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: white;
}
.form-size {
  width: 34.5%;
  margin: 30px auto;
}
.form-size h4{
  margin-bottom: 15px;
}
.form-size .form-group .form-control {
  font-size: .85rem;
}
.form-control {
  border: 1px solid #999;
  border-radius: 6px;
}
.form-group img {
  height: 225px;
}
.auth {
  margin-top: 110px;
}
.auth form .form-group {
  margin-bottom: 8px;
}
.auth p {
  font-size: 12.5px;
  margin: 0;
  color: #999;
}
.list-group {
  margin-bottom: 25px;
}
.list-group-item {
  padding: .6rem 1.15rem;
}
.list-group-item span {
  display: block;
}
.img-thumbnail .caption-full h4:nth-child(2) {
  color: #d32323;
}
.img-thumbnail .caption-full p:nth-child(3) {
  font-size: 14px;
}
.col-md-12 strong {
  font-size: 17px;
}
.comment {
  font-size: 13.5px;
}
/* ///////////////////user show page */
div.col-12.col-sm-7.col-md-8.col-lg-9 {
  border-radius: 5px;
  min-height: 550px;
}
div.col-12.col-sm-7.col-md-8.col-lg-9 h6 {
  font-size: .92rem;
  margin-bottom: 0;
}
div.col-12.col-sm-7.col-md-8.col-lg-9 hr {
  margin-top: .5rem;
  margin-bottom: .75rem;
  border: none;
}
div.col-12.col-sm-7.col-md-8.col-lg-9 .campground {
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: #fff;
  /* border-bottom: 1px solid rgba(0,0,0,.1); */
  margin-bottom: 15px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
  transition: all .195s cubic-bezier(0.4, 0.0, 0.2, 1);
}
div.col-12.col-sm-7.col-md-8.col-lg-9 .campground:hover {
  transform: translate(0, -5px);
  z-index: 100;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.3);
}
.row.campground .col-6.col-sm-7 .text-center p {
  margin: 0;
  margin-top: 10px;
}
.row.campground .col-6.col-sm-7 .text-center span.small.text-muted em {
  font-size: .65rem;
}
div.col-6.col-sm-5.col-md-4.col-lg-3 .img-thumbnail{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}
div.col-6.col-sm-5.col-md-4.col-lg-3 h6 {
  font-size: .85rem;
}
div.col-6.col-sm-5.col-md-4.col-lg-3 hr {
  margin-bottom: 0;
}
/* /////////////////footer */
footer {
  width: 100%;
  height: 40px;
  border-top: 2px solid #f1f1f1;
  background: #f7f7f7;
  margin-top: 20px;
}
footer .container {
  margin-top: 0;
}
footer .container .text-muted {
  padding: 15px 0;
  margin: 0;
}
@media screen and (min-width: 992px){
  .form-size {
    width: 27%
  }
}
@media screen and (max-width: 767px){
  .form-size {
    width: 50%
  }
  .row.campground .col-6.col-sm-7 .text-center p.small {
    display: none;
  }
  .list-group-item {
    font-size: 1.1rem;
  }
  .list-group-item span {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
  }
  .starability-grow {
    width: auto;
    min-height: auto;
  }
}
@media screen and (max-width: 575px){
  .form-size {
    width: 59.5%;
  }
  .container {
    margin: 0;
    margin-top: 15px;
  }
  /* ///////user show page */
  div.col-6.col-sm-5.col-md-4.col-lg-3 hr {
    margin-bottom: 1rem;
  }
  div.col-6.col-sm-5.col-md-4.col-lg-3 {
    margin: 0 auto;
  }
  .row.campground .col-6.col-sm-7 .text-center p.small {
    display: block;
  }
}
